.btn-primary {
  background-color: #28c06c !important;
  border-radius: 25px;
  border: 1px solid #1ca056;
  font-weight: 500; }

/*-------------------------------------------
                GENERAL
------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 13px; }

body {
  height: 100vh; }

.fondo-imagen {
  background-size: cover;
  background-repeat: no-repeat; }

.card {
  padding: 50px 0; }

a {
  color: #1ca056; }

/*# sourceMappingURL=estilos.css.map */
