//-------------------------------------------
// 			PATRON DE COLORES
//-------------------------------------------
$principal: #28c06c;
$secundario: #1ca056;
$enable-responsive-font-sizes: true;
//-------------------------------------------
// SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
//-------------------------------------------
.btn-primary {
  background-color: $principal !important;
  border-radius: 25px;
  border: 1px solid $secundario;
  font-weight: 500;
}
/*-------------------------------------------
                GENERAL
------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
body {
  height: 100vh;
}
.fondo-imagen {
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: $secundario;
}
